<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@100..900&family=Outfit:wght@100..900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../assets/profil.css">
    <title>Profil</title>
    <script src="../script/profileBack.js" defer></script>
</head>
<body>

    <div class="containerProfil">
        <div class="navProfil">
            <a href="/home">
                <button class="btnNavBack">
                    <img src="../icons/angle-gauche.png" style="width: 25px; margin-right: 8px;">
                </button>
            </a>
            <div class="titreMission">
                <h2 style="font-weight: 600 ;font-size: 60px; color: #707070;">PROFIL</h2>
            </div>
        </div>
        <div class="sectionProfil">
            <div class="imageProfil">
                <div class="imgUser">
                    <img src="../image/homme.png" alt="">                   
                    <!-- <img src="" style="width: 250px;  height: 250px; background-color: #707070; border-radius: 50%;"> -->
                </div>
                <div class="nomUser" style="display: flex; flex-direction: column; text-align: center;">
                    <!-- NOM -->
                    <h2 style="font-size: 3.5rem;"> <%= nom %> </h2>
                    <!-- EMAIL -->
                    <a href="#"></a>
                </div>
            </div>
            <div class="infoProfil">
                <div class="nomEdit">
                    <!-- NOM -->
                    <input type="text" placeholder="Nom" id="nom" value="<%= nom %>" disabled>
                    <img src="../icons/editer.png" class="edit">                      
                    <!-- <img src="" style="height: 20px; width: 20px; background-color: #707070; cursor: pointer;"> -->
                </div>
                <div class="emailEdit">
                    <!-- EMAIL -->
                    <input type="email" placeholder="Email" id="email" disabled>
                    <img src="../icons/editer.png" class="edit">                     
                    <!-- <img src="" style="height: 20px; width: 20px; background-color: #707070; cursor: pointer;"> -->
                </div>
                <div class="keyEdit">
                    <!-- MOT DE PASSE -->
                    <input type="password" placeholder="Mot de passe" value="<%= motDePasse %>" id="motDePasse" disabled>
                    <img src="../icons/editer.png" class="edit">                     
                    <!-- <img src="" style="height: 20px; width: 20px; background-color: #707070; cursor: pointer;"> -->
                </div>
            </div>
        </div>
    </div>
</body>
</html>